@import './theme.scss';
@import './reset.scss';
@import './element-variables.scss';
html,body {
  background-color: $BodyBgColor;
  overflow-x: hidden;
}
a{
  text-decoration: none;
}
.back{
  font-size: 12px;
  color: #aaa;
  cursor: pointer;
}
//卡片弹窗全局圆角
.el-dialog{
  border-radius: 10px;
}